{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FarmerBora Forum

    </title>
    <link rel="stylesheet" href="{% static 'forum.css' %}">
    <link rel="shortcut icon" type="x-icon" href="{% static 'images/logo.png' %}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
        integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Ephesis&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&family=Vina+Sans&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/105291f51d.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <div class="navbar">
            <nav class="navigation hide" id="navigation">
                <ul class="nav-list">
                    <span class="close-icon" onclick="showIconBar()"><i class="fas fa-close"></i></span>
                    <li class="nav-item"><a href="{% url 'index' %}">Home</a></li>
                    <li class="nav-item"><a href="{% url 'forum' %}">Forum</a></li>
                    <li class="nav-item"><a href="{% url 'logout' %}">Logout</a></li>
                </ul>
            </nav>
            <a href="#" class="bar-icon" id="iconBar" onclick="hideIconBar()"><i class=" fas fa-bars"></i></a>

            {% if user.is_authenticated %}
            <div id="form-and-forum-container"
                style="font-size:50px;font-weight:300px;color:rgb(66, 6, 6);margin-left:50px;text-decoration:none;margin-right:50px;">
                <a href="{% url 'create_post' %}" class="subforum-link sub-link">+</a>
            </div>

            {% endif %}
            <div class="translate" id="google_translate_element"></div>

        </div>
        <div class="search-box">
            <div class="select1">
                <select name="" id="">
                    <option value="">Diseases</option>
                    <option value="">Diseases</option>
                    <option value="">Diseases</option>
                    <option value="">Diseases</option>
                </select>
            </div>
            <input type="text" name="q" id="" placeholder="Search...">
            <button type="submit"><i class="fa fa-search"></i></button>

        </div>
    </header>
    {% block content %}
    {% endblock %}
    <footer class="footer notranslate">

        &copy; copyright @ 2024 by <span>FarmerBora - LH</span> | all rights reserved!

    </footer>
    <script src="{% static 'forum.js' %}">

    </script>
    <script src="https://js.pusher.com/8.2.0/pusher.min.js"></script>
    <script>

        // Enable pusher logging - don't include this in production
        Pusher.logToConsole = true;

        var pusher = new Pusher('9d32762940885a51de2a', {
            cluster: 'ap1'
        });

        var channel = pusher.subscribe('my-channel');
        channel.bind('my-event', function (data) {
            alert(JSON.stringify(data));
        });
        channel.bind('pusher:subscription_succeeded', function (data) {
            console.log('Subscription to channel successful:', data);
            let alertShown = localStorage.getItem('alertShown') === 'true';

            fetch('/latest_post_data/')
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Failed to fetch latest post data');
                    }
                    return response.json();
                })
                .then(postData => {
                    if (!alertShown) {
                        var alertMessage = ` Hello ${postData.current_user_name} view the  Latest Post: ${postData.title} by ${postData.user}, , visit the PostForum`;
                        alert(alertMessage);
                        alertShown = true;
                        localStorage.setItem('alertShown', 'true');
                    }
                })
                .catch(error => console.error('Error fetching latest post data:', error));
            // Add any additional actions here
        });
    </script>
    <script type="text/javascript" src="{%static 'lang.js'%}"></script>

    <script type="text/javascript"
        src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'forrum.js' %}"></script>
</body>

</html>