{% extends 'baseforum.html' %}
{% load hitcount_tags %}
{% block content %}
{% load static %}
<div class="container">
    <!------------Navigation--------------->
    <div class="navigate">
        <span><a href="{% url 'forum' %}" class="subforum-link notranslate">FarmerBora - Forums</a> >> <a
                href="{{post.categories.all.0.get_url}}" class="subforum-link">{{post.categories.all.0.title}}</a> >> <a
                href="{{post.get_url}}" class="subforum-link">{{post.title}}</a></span>
    </div>
    <div class="topic-container">
        <div class="head">
            <div class="authors notranslate">{{post.user.fullname}}</div>
            <div class="content">Topic: {{post.title}}(Read {% get_hit_count for post %} times)</div>
        </div>
        <div class="body">
            <div class="authors">
                <div class="username notranslate"><a href="#" class="subforum-link">{{post.user.fullname}}</a></div>
                <div>{{user.role}}</div>
                <img style="border-radius: 120px;" src="{{post.user.profile_pic.url}}" alt="">
                <div>Posts: <u>{{user.num_posts}}</u></div>
                <div>Points: <u>{{user.points}}</u></div>
            </div>
            <div class="content">
                {{post.content|safe}}
                <br>
                <div class="comment">
                    <button onclick="showComment()" class="button">Comment</button>
                </div>
            </div>
        </div>
    </div>
    <!-------------Comment Input---------------------->
    <div class="comment-area hide" id="comment-area">
        <textarea script="width: 100%;" class="textarea" name="" id="" cols="30" rows="10"
            placeholder="comment here ..."></textarea>
        <input onclick="hideComment()" type="submit" name="" id="" value="submit">
    </div>


    <!-------------------Show Comment--------------------->

    <div class="comments-container">
        <div class="head">
            <div class="authors">{{ comment.user.fullname|title }}</div>
            <div class="content">{{ comment.content }}</div>
        </div>
        <div class="body">
            <div class="authors">
                <div class="AnotherUser"><a href="#" class="subforum-link">{{ comment.user.fullname|title }}</a></div>
                <div>Role</div>
                <img src="{{ comment.user.profile_pic.url }}" alt="">
                <div>Posts: <u>{{ comment.user.num_posts }}</u></div>
                <div>Points: <u>{{ comment.user.points }}</u></div>
            </div>
            <div class="content">
                {{ comment.content }}
                <div class="comment">
                    <button onclick="showReply()" class="button">Reply</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Reply Input -->
    <div class="comment-area hide" id="reply-area">
        <textarea script="width: 100%;" class="textarea" name="" id="" cols="30" rows="10"
            placeholder="Reply here ..."></textarea>
        <input onclick="hideReply()" type="submit" name="" id="" value="Submit">
    </div>
    <!-- Show Reply -->

    <div class="comments-container" style="width:95%; margin-left: 5%">
        <div class="head">
            <div class="authors">{{ reply.user.fullname|title }}</div>
            <div class="content">{{ reply.content }}</div>
        </div>
        <div class="body">
            <div class="authors">
                <div class="AnotherUser"><a href="#" class="subforum-link">{{ reply.user.fullname|title }}</a></div>
                <div>Role</div>
                <img src="{{ reply.user.profile_pic.url }}" alt="">
                <div>Posts: <u>{{ reply.user.num_posts }}</u></div>
                <div>Points: <u>{{ reply.user.points }}</u></div>
            </div>
            <div class="content">
                {{ reply.content }}
            </div>
        </div>
    </div>


</div>
<script>
    function showComment() {
        var commentArea = document.getElementById("comment-area");
        commentArea.classList.remove("hide");
    }
    function showReply() {
        var replyArea = document.getElementById("reply-area");
        replyArea.classList.remove("hide");
    }
</script>
{% endblock %}