{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="x-icon" href="{% static 'images/logo.png' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FarmerBora Forum

    </title>
    <link rel="stylesheet" href="{% static 'forum.css' %}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
        integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Ephesis&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&family=Vina+Sans&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/105291f51d.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <div class="navbar">
            <nav class="navigation hide" id="navigation">
                <ul class="nav-list">
                    <span class="close-icon" onclick="showIconBar()"><i class="fas fa-close"></i></span>
                    <li class="nav-item"><a href="{% url 'index' %}">Home</a></li>

                    <li class="nav-item"><a href="{% url 'diseases' %}">Diseases</a></li>
                    <li class="nav-item"><a href="{% url 'posts' %}">Posts</a></li>
                    <li class="nav-item"><a href="{% url 'details' %}">DETAILS</a></li>

                    <li class="nav-item"><a href="{% url 'logout' %}">Logout</a></li>
                </ul>
            </nav>
            <a href="#" class="bar-icon" id="iconBar" onclick="hideIconBar()"><i class=" fas fa-bars"></i></a>
            <div class="brand  notranslate">FarmerBora Forum</div>
            <div class="translate" id="google_translate_element"></div>
        </div>
        <div class="search-box">
            <div class="select1">
                <select name="" id="">
                    <option value="">Diseases</option>
                    <option value="">Diseases</option>
                    <option value="">Diseases</option>
                    <option value="">Diseases</option>
                </select>
            </div>
            <input type="text" name="q" id="" placeholder="Search...">
            <button type="submit"><i class="fa fa-search"></i></button>
        </div>
    </header>
    <div class="container">
        <!------------Navigation--------------->
        <div class="navigate">
            <span><a href="#" class="subforum-link">FarmerBora - Forums</a> >> <a href="#" class="subforum-link">Random
                    Topic</a> >> <a href="#" class="subforum-link">Random
                    Post</a></span>
        </div>
        <div class="topic-container">
            <div class="head">
                <div class="authors">Author</div>
                <div class="content">Topic: post's title(Read 1234 times)</div>
            </div>
            <div class="body">
                <div class="authors">
                    <div class="username"><a href="#" class="subforum-link">Username</a></div>
                    <div>Role</div>
                    <img src="https://cdn.pixabay.com/photo/2018/01/25/16/00/ninja-3106460_960_720.png" alt="">
                    <div>Posts: <u>45</u></div>
                    <div>Points: <u>5423</u></div>
                </div>
                <div class="content">
                    Just a random content of a random post.
                    <br> To see how it looks like.
                    <br><br>
                    Nothing else ...
                    <br><br>
                    <hr>
                    Regards Username:
                    <div class="comment">
                        <button onclick="showComment()" class="button">Comment</button>
                    </div>
                </div>
            </div>
        </div>
        <!-------------Comment Input---------------------->
        <div class="comment-area hide" id="comment-area">
            <textarea class="text-area" name="" id="" cols="30" rows="10" placeholder="comment here ..."></textarea>
            <input type="submit" name="" id="" value="submit">
        </div>


        <!-------------------Show Comment--------------------->
        <div class="comments-container">
            <div class="head">
                <div class="authors">Author</div>
                <div class="content">Comments</div>
            </div>
            <div class="body">
                <div class="authors">
                    <div class="AnotherUser"><a href="#" class="subforum-link">Username</a></div>
                    <div>Role</div>
                    <img src="https://cdn.pixabay.com/photo/2018/01/25/16/00/ninja-3106460_960_720.png" alt="">
                    <div>Posts: <u>45</u></div>
                    <div>Points: <u>5423</u></div>
                </div>
                <div class="content">
                    Just a random comment of a random post.
                    <br> To see how it looks like.
                    <br><br>
                    Nothing else ...
                    <br><br>
                    <hr>
                    Regards Username:
                    <div class="comment">
                        <button onclick="showReply()" class="button">Reply</button>
                    </div>
                </div>
            </div>
        </div>
        <!-------------Comment Input---------------------->
        <div class="comment-area hide" id="reply-area">
            <textarea class="text-area" name="" id="" cols="30" rows="10" placeholder="reply here ..."></textarea>
            <input type="submit" name="" id="" value="submit">
        </div>

    </div>


    <footer class="footer notranslate">

        &copy; copyright @ 2024 by <span>FarmerBora - LH</span> | all rights reserved!

    </footer>
    <script src="{% static 'script.js' %}">
    </script>
    <script type="text/javascript" src="{%static 'lang.js'%}"></script>
    <script type="text/javascript" src="{%static 'forum.js'%}"></script>
    <script>
        function showComment() {
            var commentArea = document.getElementById("comment-area");
            commentArea.setAttribute("style", "display: block;");
        }
        function showReply() {
            var replyArea = document.getElementById("reply-area");
            replyArea.setAttribute("style", "display: block;");
        }
    </script>
    <!-- Add the custom initialization script -->
    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({
                pageLanguage: 'en',
                includedLanguages: 'en,sw',  // Include English and Swahili
            }, 'google_translate_element');
        }
    </script>
    <script type="text/javascript"
        src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
</body>

</html>