{% extends 'baseforum.html' %}
{% block content %}
<div class="container">
    <div class="subforum">
        <div class="subforum-header">
            <h1>General Information</h1>
        </div>
        <hr class="subforum-line">

        {% for forum in forums %}
        <div class="subforum-row">
            <div class="subforum-icon subforum-column center">
                <i class="fa-regular fa-user"></i>
            </div>
            <div class="subforum-description subforum-column">
                <h1><a href="{{forum.get_url}}" class="subforum-link">{{forum.title}} </a></h1>
                <p>Description: {{forum.description}}</p>
            </div>
            <div class="subforum-stats subforum-column center">
                <span>{{forum.num_posts}} Posts</span>
            </div>
            <div class="subforum-info subforum-column">
                <b><a href="{{forum.last_post.get_url}}" class="subforum-link">Last Post</a></b> by <a href="#"
                    class="subforum-link">{{forum.last_post.user.fullname}}</a>
                <br>
                {{forum.last_post.date|date}}
            </div>
        </div>
        <hr class="subforum-line">
        {% endfor %}



    </div>
    <!--------------FORUM INFO--------->
    <div class="forum-info">
        <div class="chart">
            My Forum - Stats &nbsp;<i class="fa fa-bar-chart"></i>

        </div>
        <div>
            <span><u>5,234</u>Posts in <u>15</u>Topics by<u>2,000</u> Users</span><br>
            <span>Latest Post: <b><a href="#" class="subforum-link">Random Post</a></b> on 15 Dec 2021 by <a href="#"
                    class="subforum-link">RandomUser</a></span>
        </div>
    </div>
    {% endblock %}