{% extends 'main.html' %}
{% block content %}

<section class="diseases">
    <h1 class="heading">Livestock Diseases</h1>

    <div class="box-container">

        <div class="box-image">
            <p class="text notranslate">Health is Wealth</p>
        </div>


    </div>
    <div class="aboutus">
        <div class="pot">
            <div class="writing">
                <div class="Tittle">
                    <h1 class="Title ">About Us</h1>
                </div>
                <div class="workload">
                    <h3>Lorem ipsum dolor sit amet.</h3>
                    <p class="text notranslate">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio
                        sapiente
                        deleniti rerum, sit debitis pariatur inventore esse! Sit, accusantium? Cupiditate iusto
                        velit
                        odit
                        magnam facilis iste recusandae tenetur sit omnis ipsa necessitatibus aut, aliquam doloremque
                        vitae
                        similique voluptatum? Nam aspernatur minus consequuntur magnam. Placeat reprehenderit
                        deserunt
                        expedita ut perspiciatis doloribus?</p>
                    <div class="buttonn">
                        <a href="contact.html" class="btn">Read More...</a>
                    </div>
                </div>
            </div>
            <div class="image-section"><img
                    src="https://source.unsplash.com/1600x900/?livestock,diseases,Veterinary Doctors" alt="">
            </div>
        </div>
    </div>
</section>
{% endblock %}