{% extends 'main.html' %}
{% load static %}
{% block content %}
<section class="playlist-details">

   <h1 class="heading">playlist details</h1>

   <div class="row">


      <div class="column">
         <div class="tutor">
            <img src="{%static 'images/brucellosis.jpeg'%}" alt="">
            <div>
               <h3 class="notranslate">Medical Centric</h3>
               <span>21-10-2022</span>
            </div>
         </div>

         <div class="details">
            <h3>Brucellosis Disease Tutorial</h3>
            <p class="notranslate">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum minus reiciendis,
               error sunt veritatis
               exercitationem deserunt velit doloribus itaque voluptate.</p>
            <h3>Identificationt</h3>
            <p class="notranslate">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum minus reiciendis,
               error sunt veritatis
               exercitationem deserunt velit doloribus itaque voluptate.</p>
            <h3>Symptoms</h3>
            <p class="notranslate">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum minus
               reiciendis,
               error sunt veritatis
               exercitationem deserunt velit doloribus itaque voluptate.</p>
            <h3>Causes</h3>
            <p class="notranslate">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum minus
               reiciendis,
               error sunt veritatis
               exercitationem deserunt velit doloribus itaque voluptate.</p>
            <h3>Treatment and Management</h3>
            <p class="notranslate">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum minus
               reiciendis,
               error sunt veritatis
               exercitationem deserunt velit doloribus itaque voluptate.</p>
            <h3>Prevention</h3>
            <p class="notranslate">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum minus
               reiciendis,
               error sunt veritatis
               exercitationem deserunt velit doloribus itaque voluptate.</p>
         </div>
      </div>
   </div>

</section>

<section class="playlist-videos">

   <h1 class="heading">playlist videos</h1>

   <div class="box-container">

      <a class="box" href="{% url 'watch-video' %}">
         <i class="fas fa-play"></i>
         <img src="{%static 'images/brucellosis.jpeg'%}" alt="">
         <h3>Brucellosis Tutorial (part 01)</h3>
      </a>
      <a class="box" href="{% url 'watch-video' %}">
         <i class="fas fa-play"></i>
         <img src="{%static 'images/brucellosis.jpeg'%}" alt="">
         <h3>Brucellosis Tutorial (part 02)</h3>
      </a>
      <a class="box" href="{% url 'watch-video' %}">
         <i class="fas fa-play"></i>
         <img src="{%static 'images/brucellosis.jpeg'%}" alt="">
         <h3>Brucellosis Tutorial (part 03)</h3>
      </a>



   </div>

</section>
{% endblock content %}